/*variable*/
:root {
--basic-light-gray: #EEEEEE;
--basic-cream-white:#888888;
--basic-black: #000000;
--basic-dark-gray: #283136;
--basic-gray: #666666;
--basic-medium-gray: #444444;
--basic--green: #00CA74;
--yellow: #EFC849;
--basic-red: #FB565A;
--basic-white: #FFFFFF;
--basic-trasparent-gray: #DBDBDB
}

.container {
margin: 0 auto;
width:1160px;
outline: 5px solid rgba(0, 8, 255, 0.7);
outline-offset: -5px;
}

.catalogs {
outline: 5px solid rgba(255, 0, 0, 0.3);
outline-offset: -5px;
text-align:center;
}

.lists {
column-gap:40px;
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
margin: 0;
padding: 0;
list-style: none;
display:flex;
margin-bottom:30px;
}

.reset-list {
padding:0;
list-style:none;
margin:0;
}

.catalog-lists {

}



/*main-header*/
.main-header {
padding-top:49px;
min-width: 1440px;
background-color:var(--basic-light-gray);
}

/*main-navigation*/
.site-navigation {
list-style:none;
margin-right:45px;
margin: 0;
padding: 0;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
display:flex;
flex-wrap: wrap;
}

.main-header-logo {
  margin-right:202px;
font-size:0;
line-height:0;
display:block;
}


.user-navigation {
margin-left:auto;
}

.site-navigation a,
.user-navigation a {
display: block;
}

.site-navigation li:not(:last-child) {
margin-right:45px;
}

.site-navigation, .user-navigation {
padding-top:26px;
}

.navigation-backet {
font-size: 16px;
line-height: 30px;
font-weight: 500;
text-transform: uppercase;
text-decoration: none;
color:var(--basic-black);
position:relative;
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
margin-bottom:10px;
margin-left:auto;
padding-left:40px;
}

.navigation-backet::before {
content: "";
position: absolute;
top: 7px;
left: 0px;
width: 16px;
height: 18px;
padding-bottom:17px;
background-image:url("../img/cart-icon.svg");
background-repeat: no-repeat;
background-position: 0 0;
}

/*.user-navigation.navigation-backet {
  padding-left: 50px;
  position: relative;
}*/

.main-header-bar {
background:var(--basic-light-gray);
outline: 5px solid rgba(0, 255, 0, 0.3);
width:1440px;
}

.form-filter {
text-align:left;
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
width:260px;
}

.sorting-container {
margin-left:140px;
}

.sorting-list {
font-size: 14px;
line-height: 18px;
font-weight: 400;
color:var(--basic-black);
display:flex;
}

.filter-container {
display:flex;
align-items:center;
}

.filter-container .form-filter {
text-transform: uppercase;
margin:0;
}

.form-filter legend {
text-transform: uppercase;
}

.form-filter one {
color:var(--basic-black);
}

.main-navigation-wrapper {
display: grid;
grid-template-columns: 1fr min-content;
width: 1440px;
margin: 0 auto;
padding: 0 10px;
}

.navigation-link {
display:flex;
font-size: 16px;
line-height: 30px;
font-weight: 500;
color:var(--basic-black);
text-decoration: none;
text-transform: uppercase;
}

.foto-phone {
outline: 5px solid rgba(0, 255, 255, 0.3);
outline-offset: -5px;
width:760px;
height:430px;
background-color:var(--basic-light-gray);
}

.caption {
outline: 5px solid rgba(0, 255, 255, 0.3);
outline-offset: -5px;
background-image: url("../img/nerds-index-slide1-1.png");
background-repeat:no-repeat;
background-position:right bottom;
min-height:430px;
margin-bottom:25px;
}

/*.caption-2 {
outline: 5px solid rgba(0, 255, 255, 0.3);
outline-offset: -5px;
background-image: url("../img/slider-2.png");
background-repeat:no-repeat;
background-position:right bottom;
min-height:430px;
margin-bottom:25px;
}*/

/*.caption-3 {
outline: 5px solid rgba(0, 255, 255, 0.3);
outline-offset: -5px;
background-image: url("../img/slider-3.png");
background-repeat:no-repeat;
background-position:right bottom;
min-height:430px;
margin-bottom:25px;
}*/


.slider-content {
padding-top:80px;
}

.main-title {
margin-top:0px;
font-size: 55px;
line-height: 55px;
font-weight: 500;
color:var(--basic-black);
width:400px;
height:110px;
outline: 5px solid rgba(0, 255, 255, 0.3);
outline-offset: -5px;
margin-bottom: -27px;
}

.content-one {
padding-top:170px;
}

.classitems {
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
margin-top:0px;
margin-bottom:100px;
padding-bottom:50px;
}

.features-item {
text-align: center;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
background-repeat:no-repeat;
background-position:center top;
width:300px;
min-height:350px;
}

.features-item-website{
background-image: url("../img/illustration-1-1.png");
}

.features-item-app{
background-image: url("../img/illustration-2-1.png");
}

.feature-item-presentation{
background-image: url("../img/illustration-3-1.png");
}

.features-item-title {
font-size: 24px;
line-height: 30px;
font-weight: 700;
margin-top:0px;
text-transform: uppercase;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
width:170px;
height:30px;
text-align:left;
}

.features-item-title-1 {
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
text-align:left;
width:260px;
height:50px;
margin-top:-5px;
}

.slider {
background-color:var(--basic-light-gray);
}

.slider-desc {
outline: 5px solid rgba(0, 255, 255, 0.3);
outline-offset: -5px;
width:400px;
height:50px;
margin-top: 50px;
}

.button {
padding-top:17px;
padding-bottom:15px;
font-size: 16px;
line-height: 18px;
font-weight: 500;
color:var(--basic-white);
background-color:var(--basic-light-gray);
text-decoration: none;
text-transform: uppercase;
margin-top:50px;
display:inline-block;
text-align:center;
border-radius: 3px;
}

.button-finde-more {
color:var(--basic-white);
background-color:var(--basic-red);
text-transform: uppercase;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
padding-left:54px;
padding-right:54px;
margin-top:25px;
}

.button-price {
color:var(--basic-white);
text-transform: uppercase;
background-color:var(--basic-red);
text-align:center;
padding:17px 72px 15px;
margin:140px 80px 45px 80px;
}

.button-write {
color:var(--basic-white);
background-color:var(--basic-red);
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
margin-bottom:50px;
margin-top:210px;
text-align:center;
padding-top:17px;
padding-bottom:15px;
padding-right:45px;
padding-left:45px;
}

.button-red {
color:var(--basic-white);
background-color:var(--basic-red);
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
padding-right:40px;
padding-left:40px;
margin-right:240px;
margin-top:15px;
}

.button-green {
background-color:var(--basic--green);
text-align:left;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
padding-right:40px;
padding-left:40px;
margin-right:240px;
margin-top:15px;
}

.button-yellow {
background-color:var(--yellow);
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
padding-right:40px;
padding-left:40px;
margin-right:240px;
margin-top:15px;
}

.catalog-article {
display:flex;
align-content:start;
outline: 5px solid rgba(255, 0, 0, 0.3);
margin-bottom:55px;
}

.catalog-article .form-filter {
grid-column: 1 / -1;
margin-bottom:55px;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
margin:0;
}

.active-name-catalog {
width:360px;
height:230px;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
text-align:center;
background-color:var(--basic-light-gray);
}

.pagination {
margin-top:55px;
width:440px;
}

.pagination-list {
display:flex;
outline: 5px solid rgba(255, 0, 0, 0.3);
outline-offset: -5px;
text-align:center;
}

.pagination-item-link {
font-size: 16px;
line-height: 18px;
font-weight: 500;
text-decoration:none;
padding:17px 20px 15px;
background:var(--basic-light-gray);
border-radius:3px;
color:var(--basic-black);
box-sizing: border-box;
}

.pagination-item-link.next {
padding-left:78px;
padding-right:78px;
}

.pagination-item-link.active {
background-color:var(--basic-white);
border:3px solid var(--basic-trasparent-gray);
}

.pagination-item {
list-style:none;
margin-right:11px;
}

.pagination-item:last-child {
margin-right: 0;
}

.page-body {
min-width: 1440px;
margin: 0;
padding: 0 10px;
font-family: "Roboto", "Arial", sans-serif;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: var(--basic-dark-gray);
background-color:var(--basic-white);
min-height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;
align-content: start;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
font-size: 18px;
line-height: 24px;
text-transform: uppercase;
font-weight: 700;
}

.range-controls {
position: relative;
height: 41px;
padding-right: 20px;
padding-left: 20px;
background-color: #f1f1f1;
border-radius: 5px;
margin-bottom: 15px;
padding-top: 39px;
}

.range-controls .toggle {
width: 4px;
height: 4px;
padding: 0;
border: 8px solid #ffffff;
background-color: #ababab;
border-radius: 50%;
box-shadow: 0 2px 1px 0 #cfcfcf;
position: absolute;
top: 31px;
left: 0;
cursor: pointer;
}

.price-controls {
display: flex;
justify-content: space-between;
}

.price-controls label {
text-transform: uppercase;
font-family: "Roboto", "Arial", sans-serif;
font-size: 16px;
}

.price-controls input {
width: 60px;
padding: 10px;
margin-left: 10px;
text-align: center;
color: #283136;
border: none;
border-radius: 5px;
background: #f1f1f1;

font-family: inherit;
font-size: inherit;
}

.range-controls .toggle-min {
left: 18px;
}

.range-controls .toggle-max {
left: 160px;
}


.range-controls .scale {
height: 2px;
background: #d7dcde;
}

.range-controls .bar {
width: 70%;
height: 2px;
background: #00ca74;
}

.main-footer {
min-width: 1440px;
margin: 0;
padding: 0 10px;
}

.order {
font-size: 16px;
line-height: 24px;
font-weight: 700;
color: var(--basic-dark-gray);
text-transform: uppercase;
column-gap: 500px;
text-align: left;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
margin: 0;
padding: 0;
margin-bottom: 20px;
}

.order-list {
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: var(--basic-dark-gray);
text-align: left;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
margin: 0;
padding: 0;
margin-bottom: 70px;
width:400px;
height:120px;
width:400px;
height:120px;
margin-left:10px;
}

.order-list-1::before {
width:25px;
height:2px;
background-color: var(--basic-red);
content: "";
position: absolute;
background-repeat: no-repeat;
background-position: 0 0;
}

.order-list-2::before {
width:25px;
height:2px;
background-color: var(--basic-red);
content: "";
position: absolute;
background-repeat: no-repeat;
background-position: 0 0;
}

.order-list-3::before {
width:25px;
height:2px;
background-color: var(--basic-red);
content: "";
position: absolute;
background-repeat: no-repeat;
background-position: 0 0;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

.icon-list:hover path,
.icon-list:focus path {
  fill: var(--basic-white);
}
.features {
margin-bottom: 80px;
margin-top:80px;
outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.features-list {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin: 0;
padding: 0;
list-style: none;
column-gap: 100px;
text-align:center;
margin-right:200px;
}

.list-percent {
text-align: right;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
width:120px;
height:40px;
}

.main-benefit {
display: grid
grid-template-columns: 150;
outline: 5px solid rgba(255, 0, 0 , 0.3);
margin-bottom: 80px;
margin-top:150px;
}

.main-benefit-container {
display:flex;
}

.benefit-title {
text-align:left;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
column-gap: 149px;
font-size: 45px;
line-height: 45px;
font-weight: 500;
color:var(--basic-black);
margin-right:150px;
margin: 0;
padding: 0;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
margin-bottom: 37px;
width:650px;
height:90px;

}

.benefit-teg {
text-align: left;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
column-gap: 149px;
color:var(--basic-dark-gray);
margin-right:150px;
margin: 0;
padding: 0;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
margin-bottom: 40px;
margin-right:155px;
max-width:650px;
height:50px;
width:645px;
}

.benefit-title-2 {
text-align:center;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
weight:650px;
height:90px;
margin-bottom:75px;
}

.best-conditions {
font-size: 16px;
line-height: 24px;
font-weight: 700;
color:var(--basic-black);
text-transform: uppercase;
margin-bottom:30px;
margin-top:0px;
text-align:center;
}

.recet-list {
font-size: 16px;
line-height: 24px;
font-weight: 400;
color:var(--basic-dark-gray);
}

.about {
width:650px;
margin-right:150px;
}

.logo1 {
text-align: right;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
width:360px;
height:210px;
margin-top:auto;

}

.conditions-list {
font-size: 16px;
line-height: 18px;
font-weight: 400;
color: var(--basic-dark-gray);
display: flex;
text-align: right;
width:220px;
margin-right:1px;
}

.percent {
font-size: 45px;
line-height: 64px;
font-weight: 700;
color:var(--basic-black);
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
text-align:left;
margin-bottom:10px;
}

.description {
text-align:left;
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
margin-top:0px;
width:120px;
height:40px;
}

.link-items {
column-gap: 45px;
margin: 0;
padding: 0;
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
text-align:center;
display:flex;
flex-grow: 1;
justify-content: center;
align-items: center;
}

.link-all-items {
display:flex;
outline: 5px solid rgba(0, 255, 0, 0.3);
margin-top:50px;

}

.link-items::before {
content: "";
position: absolute;
background-position: 0 0;
width:1160px;
height:2px;
background-color:var(--basic-light-gray);
background-repeat: no-repeat;
background-position: 0 0;
}

.main-navigation {
display:flex;
font-size: 16px;
line-height: 30px;
font-weight: 500;
color:var(--basic-black);
}

.list-catalog {
grid-template-columns: 0 40px;
display: grid;
}

.contacts {
font-size: 18px;
line-height: 18px;
font-weight: 400;
color:var(--basic-gray);
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
text-align:center;
width:320px;
height:310;
padding-left:50px;
}

.contacts-name {
  margin-top:45px;
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
font-size: 18px;
line-height: 30px;
font-weight: 700;
color:var(--basic-black);
width:195px;
height:30px;
}


.contacts-adress {
font-size: 16px;
line-height: 18px;
font-weight: 400;
color:var(--basic-gray);
outline: 5px solid rgba(255, 0, 0, 0.7);
outline-offset: -5px;
width:230px;
height:70px;
margin-bottom:40px;
margin-top:25px;
text-align:left;
}

.icon {
outline: 5px solid rgba(255, 0, 0, 0.7);
outline-offset: -5px;
text-align:left;
display:flex;
flex-grow: 1;
margin-top:70px;
margin-bottom:0;
}

.link-items {
column-gap: 45px;
justify-content: center;
margin: 0;
padding: 0;
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
text-align:center;
display:flex;
flex-grow: 1;
padding-left:0;

}

.appointment-item input:focus {
border-color: var(--special);
}

.main-footer {
outline: 5px solid rgba(255, 0, 0, 0.7);
outline-offset: -5px;
}

.footer-proposal {
font-size: 36px;
line-height: 36px;
font-weight: 700;
color:var(--basic-black);
text-align:center;
margin: 0;
padding: 0;

margin-top:150px;
}

.footer-proposal h2 {
font-size: 36px;
line-height: 36px;
font-weight: 700;
margin-bottom:0;
}

.footer-proposal section {
padding-left:140px;
}

.footer-title {
width:660px;
height:35px;
margin-top:25px;
text-align:left;
}

.footer-benefit {
font-size: 16px;
line-height: 22px;
font-weight: 400;
color:var(--basic-medium-gray);
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
margin-top:5px;
width:375px;
height:20px;
margin-top:10px;
text-align:left;
}

.title {
font-size: 55px;
line-height: 55px;
font-weight: 500;
color:var(--basic-black);
text-align: center;
margin-bottom:110px;
}

.name-catalog {
font-size: 18px;
line-height: 30px;
font-weight: 700;
color:var(--basic-black);
list-style: none;
}

.text-catalog {
font-size: 16px;
line-height: 18px;
font-weight: 400;
color:var(--basic-gray);
}

/*Grid*/
.page {
height: 100%;
}

/*main-header*/
.main.navigation {
margin-bottom: 70px;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
}

/*main-navigation*/
.main-navigation-wrapper {
display: grid;
grid-template-columns: 1fr max-content;
background-color: var(--basic-light-gray);
}

.disc-proposal {
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
text-align:center;
}

.footer-copyright {
max-width: 150px;
margin:0;
justify-content:end;
text-align:center;
}

.footer-proposal .container {
display: grid;
grid-template-columns: 260px 660px;
}
