/*Variables*/



.head{
  min-width: 1440px;
  background:


}
body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color:
  text-transform: uppercase;
  background-color:
  background-image:
  background-position:
  background-repeat: no-repeat;
}
