/*variable*/
:root {
--basic-light-gray: #EEEEEE;
--basic-cream-white:#888888;
--basic-black: #000000;
--basic-dark-gray: #283136;
--basic-gray: #666666;
--basic-medium-gray: #444444;
--basic--green: #00CA74;
--yellow: #EFC849;
--basic-red: #FB565A;
--basic-white: #FFFFFF;
--basic-trasparent-gray: #DBDBDB
}

.container {
margin: 0 auto;
width:1440px;
outline: 5px solid rgba(0, 8, 255, 0.7);
outline-offset: -5px;
}


.catalogs {
outline: 5px solid rgba(255, 0, 0, 0.3);
outline-offset: -5px;
text-align:center;
}

.lists {
column-gap:40px;
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
margin: 0;
padding: 0;
list-style: none;
display:flex;
margin-bottom:30px;
margin-right:140px;
}

.reset-list {
padding:0;
list-style:none;
}
 .catalog-lists {
margin-bottom: 70px;
 }

/*main-header*/
.main-header {
min-width: 1440px;
background-color:var(--basic-light-gray);
}

/*main-navigation*/
.site-navigation {
list-style:none;
margin-right:45px;
margin: 0;
padding: 0;
padding-left:200px;
margin-bottom: 70px;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
justify-content: space-between;
display:flex;
}

.main-header-logo {
display:block;
}

.navigation-backet {
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
}

.main-header-bar {
background:var(--basic-light-gray);
outline: 5px solid rgba(0, 255, 0, 0.3);
width:1440px;
}

.form-filter {
text-align:left;
weight:208;
height:418;
margin-bottom: 80px;
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
width:260px;
height:780;
column-gap:140px;
}

.sorting-container {
display:grid;
grid-template-columns:repeat (2, 1 fr);
}

.sorting-list {
font-size: 14px;
line-height: 18px;
font-weight: 400;
color:var(--basic-black);
display:flex;
}

.filter-container {
display:flex;
}

.form-filter legend {
text-transform: uppercase;
}

.form-filter 1 {
color:var(--basic-black);
}

.main-navigation-wrapper {
display: grid;
grid-template-columns: 1fr min-content;
width: 1440px;
margin: 0 auto;
padding: 0 10px;
}

.navigation-link {
font-size: 16px;
line-height: 30px;
font-weight: 500;
color:var(--basic-black);
text-decoration: none;
text-transform: uppercase;
}

.caption {
outline: 5px solid rgba(0, 255, 255, 0.3);
outline-offset: -5px;
padding-right:620px;
}

.main-title {
font-size: 55px;
line-height: 55px;
font-weight: 500;
color:var(--basic-black);
margin-right:45px;
margin: 0;
padding-right:620px;
margin-right:620px;
margin: 0;
padding: 0;
}

.button {
font-size: 16px;
line-height: 18px;
font-weight: 500;
color:var(--basic-white);
background-color:var(--basic-light-gray);
text-decoration: none;
text-transform: uppercase;
}

.button-finde-more {
color:var(--basic-white);
background-color:var(--basic-red);
text-transform: uppercase;
}

.button-price {
color:var(--basic-white);
text-transform: uppercase;
background-color:var(--basic-red);
}

.button-red {
color:var(--basic-white);
background-color:var(--basic-red);
}

.button-green {
background-color:var(--basic--green);
}

.button-yellow {
background-color:var(--yellow);
}

.catalog-article {
display: grid;
grid-template-columns: 260px 1fr;
align-content:start;
column-gap:140px;
outline: 5px solid rgba(255, 0, 0, 0.3);
margin-bottom:55px;
}

.catalog-article .form-filter {
grid-column: 1 / -1;
margin-bottom:55px;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
}

.pagination {
margin-bottom:60px;
}

.pagination-list {
display:flex;
outline: 5px solid rgba(255, 0, 0, 0.3);
outline-offset: -5px;
text-align:center;
}

.pagination-item-link {
font-size: 16px;
line-height: 18px;
font-weight: 500;
text-decoration:none;
padding:17px 20px 15px;
background:var(--basic-light-gray);
border-radius:3px;
color:var(--basic-black);
box-sizing: border-box;
}

.pagination-item-link.next {
padding-left:78px;
padding-right:78px;
}

.pagination-item-link.active {
background-color:var(--basic-white);
border:3px solid var(--basic-trasparent-gray);
}

.pagination-item {
list-style:none;
margin-right:11px;
}

.pagination-item:last-child {
margin-right: 0;
}

.page-body {
min-width: 1440px;
margin: 0;
padding: 0 10px;
font-family: "Roboto", "Arial", sans-serif;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: var(--basic-dark-gray);
background-color:var(--basic-white);
min-height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;
align-content: start;
}

.main-footer {
min-width: 1440px;
margin: 0;
padding: 0 10px;
}

.order {
font-size: 16px;
line-height: 24px;
font-weight: 700;
color: var(--basic-dark-gray);
text-transform: uppercase;
column-gap: 500px;
text-align: left;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
margin: 0;
padding: 0;
margin-bottom: 70px;
}

.order-list {
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: var(--basic-dark-gray);
column-gap: 370px;
text-align: left;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
margin: 0;
padding: 0;
margin-bottom: 70px;
}

.features {
margin-bottom: 80px;
outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.features-list {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin: 0;
padding: 0;
list-style: none;
column-gap: 100px;
text-align:center;
margin-right:50px;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
}

.list-percent {
text-align: right;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
}

.feature-item {
text-align: сenter;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
}

.main-benefit {
display: grid
grid-template-columns: 150;
outline: 5px solid rgba(255, 0, 0 , 0.3);
margin-bottom: 80px;
}

.main-benefit-container {
display:flex;
}

.benefit-title {
text-align: left;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
column-gap: 149px;
font-size: 45px;
line-height: 45px;
font-weight: 500;
color:var(--basic-black);
margin-right:150px;
margin: 0;
padding: 0;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
margin-bottom: 70px;
}

.benefit-teg {
text-align: left;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
column-gap: 149px;
color:var(--basic-dark-gray);
margin-right:150px;
margin: 0;
padding: 0;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
margin-bottom: 70px;
}

.benefit-title-2 {
text-align: сenter;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
}

.best-conditions {
font-size: 16px;
line-height: 24px;
font-weight: 700;
color:var(--basic-black);
text-transform: uppercase;
}

.recet-list {
font-size: 16px;
line-height: 24px;
font-weight: 400;
color:var(--basic-dark-gray);
}

.logo1 {
text-align: right;
outline: 5px solid rgba(0, 255, 255 , 0.3);
outline-offset: -5px;
width:360px;
}

.conditions-list {
font-size: 16px;
line-height: 18px;
font-weight: 400;
color: var(--basic-dark-gray);
display: flex;
text-align: right;
width:78px;
}

.percent {
font-size: 45px;
line-height: 64px;
font-weight: 700;
color:var(--basic-black);
}

.link-items {
column-gap: 45px;
margin: 0;
padding: 0;
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
text-align:center;
display:flex;
flex-grow: 1;
justify-content: center;
align-items: center;
}

.link-all-items {
display:flex;
outline: 5px solid rgba(0, 255, 0, 0.3);
}

.main-navigation {
grid-template-columns: 160px 440px 115px;
display: grid;
font-size: 16px;
line-height: 30px;
font-weight: 500;
color:var(--basic-black);
outline: 5px solid rgba(0, 255, 0, 0.3);
}

.list-catalog {
grid-template-columns: 0 40px;
display: grid;
}



.contacts {
font-size: 18px;
line-height: 18px;
font-weight: 400;
color:var(--basic-gray);
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
text-align:center;
margin-top:50px;
margin-bottom:50px;
}

.contacts-name {
font-size: 18px;
line-height: 30px;
font-weight: 700;
color:var(--basic-black);
}

.contacts-adress {
font-size: 16px;
line-height: 18px;
font-weight: 400;
color:var(--basic-gray);
}

.icon {
outline: 5px solid rgba(255, 0, 0, 0.7);
outline-offset: -5px;
text-align:left;
display:flex;
flex-grow: 1;
}

.link-items {
column-gap: 45px;
margin: 0;
padding: 0;
outline: 5px solid rgba(255, 0, 255, 0.3);
outline-offset: -5px;
text-align:center;
display:flex;
flex-grow: 1;
justify-content: center;
align-items: center;
}

.appointment-item input:focus {
border-color: var(--special);
}

.main-footer {
outline: 5px solid rgba(255, 0, 0, 0.7);
outline-offset: -5px;
}

.footer-proposal {
font-size: 36px;
line-height: 36px;
font-weight: 700;
color:var(--basic-black);
text-align:center;
outline: 5px solid rgba(255, 0, 0, 0.7);
outline-offset: -5px;
margin: 0;
padding: 0;
margin-bottom: 70px;
}

.footer-proposal h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.footer-proposal section {
padding-left:140px;
}

.footer-proposal .icon {

}
.footer-benefit {
font-size: 16px;
line-height: 22px;
font-weight: 400;
color:var(--basic-medium-gray);
}

.title {
font-size: 55px;
line-height: 55px;
font-weight: 500;
color:var(--basic-black);
text-align: center;
}

.name-catalog {
font-size: 18px;
line-height: 30px;
font-weight: 700;
color:var(--basic-black);
list-style: none;
}

.text-catalog {
font-size: 16px;
line-height: 18px;
font-weight: 400;
color:var(--basic-gray);
}

/*Grid*/
.page {
height: 100%;
}

/*main-header*/
.main.navigation {
margin-bottom: 70px;
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
}

/*main-navigation*/
.main-navigation-wrapper {
display: grid;
grid-template-columns: 1fr max-content;
background-color: var(--basic-light-gray);
}

.disc-proposal {
outline: 5px solid rgba(0, 255, 0, 0.7);
outline-offset: -5px;
text-align:center;
}

.footer-copyright {
max-width: 150px;
margin: 0;
justify-self: end;
text-align:center;
}

.footer-proposal .container {
display: grid;
grid-template-columns: 260px 660px;
}
